{% extends "partials/container.html" %}
{% block body %}
<main>
    <div class="home-container">
        <div class="home-info">
            <h1>Dashboard</h1>
           <div class="canvas">
                <div class="timeline_container">
                    <div class="time_block">
                        <div class="time_info">
                            <canvas id="lineChartNotif"></canvas>
                        </div>
                    </div>
                    <div class="time_block">
                        <div class="time_info">
                            <canvas id="lineChartMention"></canvas>
                        </div>
                    </div>
                    <div class="time_block">
                        <div class="time_info">
                            <canvas id="lineChartMentionAccepted"></canvas>
                        </div>
                    </div>
                    <div class="time_block">
                        <div class="time_info">
                            <canvas id="lineChartMentionRejected"></canvas>
                        </div>
                    </div>
                    <div class="time_block time_block--wide">
                        <div class="time_info">
                            <canvas id="barChartErrors"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-info">
            <h1>Stats</h1>
            <div class="home-card-box">
                    <div class="home-block">
                        <div class="home-data">
                          <h2>Documents:</h2>
                          <p class="numbers_home" style="color:red;">{{ data['documents_count'] }}</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Software:</h2>
                          <p class="numbers_home" style="color:red;">{{ data['distinct_softwares_count'] }}</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Software mention:</h2>
                          <p class="numbers_home" style="color:red;">{{ data['softwares_count'] }}</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Authors:</h2>
                          <p class="numbers_home" style="color:red;">{{ data['authors_count'] }}</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Affiliations:</h2>
                          <p class="numbers_home" style="color:red;">{{ data['structures_count'] }}</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>References:</h2>
                          <p class="numbers_home" style="color:red;">{{ data['references_count'] }}</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>GitHub Links:</h2>
                          <p class="numbers_home" style="color:red;">{{ data['distinct_urls_count'] }}</p>
                        </div>
                  </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}

  <script src="{{ url_for('static', filename='./JS/home.js') }}"></script>
{% endblock %}
